In [2]:
import numpy as np
import pandas as pd
import ast 

credits = pd.read_csv("Dataset/tmdb_5000_credits.csv")
movies = pd.read_csv("Dataset/tmdb_5000_movies.csv")
# movies.head(1)
# credits.head(1)

movies = movies.merge(credits, on="title")
# movies.head(1).shape
# movies.info()

# imp columns


movie_id,
title,
overview,
genres,
keywords,
cast,
crew,

In [3]:

movies = movies[['movie_id','title','overview','genres','keywords','cast','crew']]
movies.head(3)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."

In [4]:
movies.isnull().sum()
movies.dropna(inplace=True)
movies.duplicated().sum()

np.int64(0)

In [5]:
movies.iloc[0].genres
movies.iloc[0]

movie_id                                                19995
title                                                  Avatar
overview    In the 22nd century, a paraplegic Marine is di...
genres      [{"id": 28, "name": "Action"}, {"id": 12, "nam...
keywords    [{"id": 1463, "name": "culture clash"}, {"id":...
cast        [{"cast_id": 242, "character": "Jake Sully", "...
crew        [{"credit_id": "52fe48009251416c750aca23", "de...
Name: 0, dtype: object

In [6]:
def convert(obj):
    if isinstance(obj, str):
        obj = ast.literal_eval(obj)  # safely convert string to list/dict
    if isinstance(obj, list) and all(isinstance(i, dict) for i in obj):
        return [i['name'] for i in obj]
    return obj  # already a list of strings or something else

In [ ]:
movies['genres'] = movies['genres'].apply(convert)
movies['keywords'] = movies['keywords'].apply(convert)
movies['cast'] = movies['cast'].apply(convert)
movies['crew'] = movies['crew'].apply(convert)
movies.head(3)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...","[Stephen E. Rivkin, Rick Carter, Christopher B..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...","[Dariusz Wolski, Gore Verbinski, Jerry Bruckhe..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux, R...","[Thomas Newman, Sam Mendes, Anna Pinnock, John..."

In [45]:
# extracting top 3 main actors and directors

movies['cast'] = movies['cast'].apply(lambda x: x[:3] if isinstance(x, list) else x)
movies['crew'] = movies['crew'].apply(lambda x: x[:1] if isinstance(x, list) else x)
 
# movies[['cast']].info 
movies[['crew']].info

<bound method DataFrame.info of                   crew
0     [SamWorthington]
1         [JohnnyDepp]
2        [DanielCraig]
3      [ChristianBale]
4       [TaylorKitsch]
...                ...
4804  [CarlosGallardo]
4805     [EdwardBurns]
4806      [EricMabius]
4807    [DanielHenney]
4808   [DrewBarrymore]

[4806 rows x 1 columns]>

In [ ]:
# def fetch_director(obj):
#     if isinstance(obj, str):
#         obj = ast.literal_eval(obj)
#     if isinstance(obj, list):
#         for i in obj:
#             if isinstance(i, dict) and i.get('job') == 'Director':
#                 return i.get('name')  # return just the director's name as a string
#     return None  # if no found bad data

# movies.head(5)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[SamWorthington, ZoeSaldana, SigourneyWeaver]","[SamWorthington, ZoeSaldana, SigourneyWeaver]","[SamWorthington, ZoeSaldana, SigourneyWeaver]","[SamWorthington, ZoeSaldana, SigourneyWeaver]"
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]","[JohnnyDepp, OrlandoBloom, KeiraKnightley]","[JohnnyDepp, OrlandoBloom, KeiraKnightley]","[JohnnyDepp, OrlandoBloom, KeiraKnightley]"
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[DanielCraig, ChristophWaltz, LéaSeydoux]","[DanielCraig, ChristophWaltz, LéaSeydoux]","[DanielCraig, ChristophWaltz, LéaSeydoux]","[DanielCraig, ChristophWaltz, LéaSeydoux]"
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[ChristianBale, MichaelCaine, GaryOldman]","[ChristianBale, MichaelCaine, GaryOldman]","[ChristianBale, MichaelCaine, GaryOldman]","[ChristianBale, MichaelCaine, GaryOldman]"
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[TaylorKitsch, LynnCollins, SamanthaMorton]","[TaylorKitsch, LynnCollins, SamanthaMorton]","[TaylorKitsch, LynnCollins, SamanthaMorton]","[TaylorKitsch, LynnCollins, SamanthaMorton]"

In [46]:
# movies['overview'] = movies['overview'].apply(lambda x: x.split())
movies.head(3)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[SamWorthington, ZoeSaldana, SigourneyWeaver]","[SamWorthington, ZoeSaldana, SigourneyWeaver]","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[SamWorthington]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]","[JohnnyDepp, OrlandoBloom, KeiraKnightley]","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[JohnnyDepp]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[DanielCraig, ChristophWaltz, LéaSeydoux]","[DanielCraig, ChristophWaltz, LéaSeydoux]","[DanielCraig, ChristophWaltz, LéaSeydoux]",[DanielCraig]

In [47]:
movies['genres'] = movies['cast'].apply(lambda x:[i.replace(" ","") for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
movies['cast'] = movies['cast'].apply(lambda x:[i.replace(" ","") for i in x])
movies['crew'] = movies['crew'].apply(lambda x:[i.replace(" ","") for i in x])
movies.head(3)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[SamWorthington, ZoeSaldana, SigourneyWeaver]","[SamWorthington, ZoeSaldana, SigourneyWeaver]","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[SamWorthington]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]","[JohnnyDepp, OrlandoBloom, KeiraKnightley]","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[JohnnyDepp]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[DanielCraig, ChristophWaltz, LéaSeydoux]","[DanielCraig, ChristophWaltz, LéaSeydoux]","[DanielCraig, ChristophWaltz, LéaSeydoux]",[DanielCraig]

In [57]:
movies['tag'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew,tag
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[SamWorthington, ZoeSaldana, SigourneyWeaver]","[SamWorthington, ZoeSaldana, SigourneyWeaver]","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[SamWorthington],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]","[JohnnyDepp, OrlandoBloom, KeiraKnightley]","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[JohnnyDepp],"[Captain, Barbossa,, long, believed, to, be, d..."

In [58]:
df_new = movies[['movie_id', 'title', 'tag']]
df_new['tag'] = df_new['tag'].apply(lambda x:" ".join(x))

C:\Users\aksha\AppData\Local\Temp\ipykernel_560\1344140317.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['tag'] = df_new['tag'].apply(lambda x:" ".join(x))

In [59]:
df_new['tag'] = df_new['tag'].apply(lambda x: x.lower())
df_new

C:\Users\aksha\AppData\Local\Temp\ipykernel_560\504957255.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['tag'] = df_new['tag'].apply(lambda x: x.lower())

,movie_id,title,tag
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bond’s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."
...,...,...,...
4804,9367,El Mariachi,el mariachi just wants to play his guitar and ...
4805,72766,Newlyweds,a newlywed couple's honeymoon is upended by th...
4806,231617,"Signed, Sealed, Delivered","""signed, sealed, delivered"" introduces a dedic..."
4807,126186,Shanghai Calling,when ambitious new york attorney sam is sent t...
4808,25975,My Date with Drew,ever since the second grade when he first saw ...