In [2]:
import numpy as np
import pandas as pd
import ast 

credits = pd.read_csv("Dataset/tmdb_5000_credits.csv")
movies = pd.read_csv("Dataset/tmdb_5000_movies.csv")
# movies.head(1)
# credits.head(1)

movies = movies.merge(credits, on="title")
# movies.head(1).shape
# movies.info()

# imp columns


movie_id,
title,
overview,
genres,
keywords,
cast,
crew,

In [3]:

movies = movies[['movie_id','title','overview','genres','keywords','cast','crew']]
movies.head(3)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."

In [4]:
movies.isnull().sum()
movies.dropna(inplace=True)
movies.duplicated().sum()

np.int64(0)

In [5]:
movies.iloc[0].genres
movies.iloc[0]

movie_id                                                19995
title                                                  Avatar
overview    In the 22nd century, a paraplegic Marine is di...
genres      [{"id": 28, "name": "Action"}, {"id": 12, "nam...
keywords    [{"id": 1463, "name": "culture clash"}, {"id":...
cast        [{"cast_id": 242, "character": "Jake Sully", "...
crew        [{"credit_id": "52fe48009251416c750aca23", "de...
Name: 0, dtype: object

In [6]:
def convert(obj):
    if isinstance(obj, str):
        obj = ast.literal_eval(obj)  # safely convert string to list/dict
    if isinstance(obj, list) and all(isinstance(i, dict) for i in obj):
        return [i['name'] for i in obj]
    return obj  # already a list of strings or something else

In [7]:
movies['genres'] = movies['genres'].apply(convert)
movies['keywords'] = movies['keywords'].apply(convert)
movies['cast'] = movies['cast'].apply(convert)
movies['crew'] = movies['crew'].apply(convert)
movies.head(3)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...","[Stephen E. Rivkin, Rick Carter, Christopher B..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...","[Dariusz Wolski, Gore Verbinski, Jerry Bruckhe..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux, R...","[Thomas Newman, Sam Mendes, Anna Pinnock, John..."

In [8]:
movies['cast'] = movies['cast'].apply(lambda x: x[:3] if isinstance(x, list) else x)
movies['crew'] = movies['crew'].apply(lambda x: x[:3] if isinstance(x, list) else x)

movies[['cast']].info
# movies[['crew']].info

<bound method DataFrame.info of                                                    cast
0      [Sam Worthington, Zoe Saldana, Sigourney Weaver]
1         [Johnny Depp, Orlando Bloom, Keira Knightley]
2          [Daniel Craig, Christoph Waltz, Léa Seydoux]
3          [Christian Bale, Michael Caine, Gary Oldman]
4        [Taylor Kitsch, Lynn Collins, Samantha Morton]
...                                                 ...
4804  [Carlos Gallardo, Jaime de Hoyos, Peter Marqua...
4805       [Edward Burns, Kerry Bishé, Marsha Dietlein]
4806         [Eric Mabius, Kristin Booth, Crystal Lowe]
4807          [Daniel Henney, Eliza Coupe, Bill Paxton]
4808  [Drew Barrymore, Brian Herzlinger, Corey Feldman]

[4806 rows x 1 columns]>